mio
circuit-synthesis/
clt13/
libaesrand/
libacirc/
libmmap/
gghlite/
libthreadpool/
build/
*.o
circuits/*.obf
circuits/*.ct
circuits/*.ek
circuits/*.sk
circuits/*.encodings
circuits/*.gc
Makefile
*.a
*.so
CMakeCache.txt
CMakeFiles/
*.cmake
TAGS
GPATH
GRTAGS
GTAGS
gmon.out
vgcore.*